* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
button:hover {
    cursor: pointer;
}
.blue {
    color: #1D4ED8;
}
/* navbar starts */
nav {
    position: fixed;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 40px;     
}
nav ul {
    display: flex;
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    padding: 0 10px;
}
nav button {
    background-color: #1D4ED8;
    color: white;
    padding: 15px 30px;
    font-weight: 600;
    border:0;
    border-radius: 10px;
}
/* navbar ends here */
/* main hero section starts */
main {
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(./img/banner.jpg);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
main .div1 {
    width: 50%;
    align-self: center ;
}
main h1 {
    font-size: 80px;
    padding-bottom: 5%;
}
main button {
    background-color: #1D4ED8;
    color: white;
    padding: 15px 60px;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 1px;
    border:0;
    border-radius: 10px;
}
/* main hero section ends */
/* speaker section starts  */
article {
    text-align: center;
}
article>h2 {
    font-size: 56px;
    font-weight: bold;
    padding: 5%;
}
article .ppls {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-around;
    gap: 50px;
    margin: 0 10%;
}
article .ppls .boxdiv {
    display: flex;
    flex-direction: column;
    border:0 solid black;
    box-shadow: 0 0 3px black;
    border-radius: 10px;
    text-align: left;
}
.ppls .detailsdiv {
    padding-left: 5%;
    margin: 2%;
    line-height: 1.5;
}
.ppls .boxdiv img {
    border-radius: 10px 10px 0 0;
    width: 100%;
}
/* speaker section ends */
/* promo starts */
.promo {
    text-align: center;
    padding: 100px;
}
.promo .headline h1 {
    font-size: 48px;
    font-weight: bold;
}
.promo .headline p {
    padding: 10px;
    padding-bottom: 20px;
    font-size: 16px;
}

.promo .boxflex {
    display: flex;
    justify-content: center;
    gap:20px;
    line-height: 1.5;
}
.card {
    text-align: left;
    border: 1px solid hsl(0, 0%, 79%);
    border-radius: 10px;
    padding: 20px 20px;
}
.card ul {
    padding-top: 10px;
    list-style-position: inside;
    font-size: 14px;
    line-height: 2;
    color: #333333;

}
.card ul li::marker {
    color: #1D4ED8;
}
.card button {
    border: 1px solid #1D4ED8;
    color: #1D4ED8;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    margin-top: 20px;
    font-weight: bold;
}
.card.special {
    padding: 40px;
    color: white;
    border: 0;
    background-color: #0D1B2A;
}
.card.special ul {
    color:white;
    padding-top:10px;
}
.card.special button {
    border: 0;
    background-color: #1D4ED8;
    color: white;
}
/* promo end */
/* special starts */
section>div {
    text-align: center;
    padding: 10px;
    margin: 10px;
}
.special h1 {
    font-size: 48px;
}
section .daycard {
    border: 0;
    box-shadow: 0 0 3px black;
    padding: 50px 20px;
    border-radius: 20px;
}
section .imgdiv {
    display: flex;
    align-items: center;
    gap: 20px;
}
section .imgdiv p {
    font-weight: bold;
    color: #1D4ED8;
}
.imgdiv img {
    padding: 5px;
    border: 1px solid #1D4ED8;
    border-radius: 10px;
}
.time {
    text-align: left;
    align-items: center;
    line-height: 2;
}
.flexingcard {
    display: flex;
    justify-content: center;
    gap:20px;
    border: 0;
}
.flexingcard span {
    font-weight: bold;
}
.special button {
    border: 1px solid #1D4ED8;
    color: #1D4ED8;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    margin-top: 20px;
    font-weight: bold;
}
footer {
    background-color: #0D1B2A;
    color: aliceblue;
}
footer .footdiv1,footer .footdiv2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}
footer .anchr {
    display: flex;
    gap: 15px;
}
footer a {
    color: aliceblue;
    text-decoration: none;

}







@media  screen and (max-width:768px) {
    article .ppls {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .promo .boxflex {
        display: flex;
        flex-direction: column;
    }
    .flexingcard {
    display: flex;
    flex-direction: column;
    }
}